.DS_Store
UsoDeSuelo/Podfile.lock
UsoDeSuelo/Pods/
UsoDeSuelo/UsoDeSuelo.xcodeproj/project.xcworkspace/xcshareddata/
UsoDeSuelo/UsoDeSuelo.xcodeproj/xcuserdata/phoenix.xcuserdatad/xcschemes/xcschememanagement.plist
UsoDeSuelo/UsoDeSuelo.xcworkspace/
